
body{
  background-color: var(--main-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--accent2-color);
  color: white; 
  border-radius: 20px;
  width: 150px;
  height: 50px;
}
button:hover{
  background-color:  rgb(206, 142, 124) ;
  color: rgb(0, 0, 0); 

}

.modal{

  transform: translate(100%, 50%);
  width: 500px;
height: 300px;
  background-color: var(--bg-color);
  padding: 20px; 
  border: 1px solid; 
  border-radius: 20px; 
  
}


#welcome{
    display: flex; 
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#login{
  position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none; 


}
#login.show{
    display: flex; 
}

#adding{
     position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px; 
    display: none;

}

#adding.show{
    display: flex; 
}
#suggestions{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px; 
    display: none;

}
#suggestions.show{
    display: flex; 
}
#advice{
    position: absolute;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px; 
    display: none;
}
#advice.show{
    display: flex; 
}

:root{
    --bg-color: rgb(207,181,128); 
    --accent-color: rgb(202,124,76);
    --text-color: rgb(87,128,136); 
    --main-color: rgb(116,148,140);
    --accent2-color: rgb(134,78,62);   
}